html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1.5;
    background: #f2f2f2;
    color: #323232;
}

.container {
    max-width: 960px;
    margin: 40px auto;
    padding: 3.2rem;
    background: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.icon {
    fill: currentColor;
    display: inline-block;
    font-size: inherit;
    height: 1em;
    overflow: visible;
}

.avatar {
    max-width: 100%;
}

.main-profile {
    display: flex;
    flex-direction: column;
    padding: 20px 0;

    &-detail {
        display: grid;
        grid-template-columns: 2fr 4fr;
    }
}

.my-name {
    font-size: 50px;
    overflow: visible;
}

.links {
    display: flex;
    justify-content: space-between;
}